
body {
    font-family: monospace;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    max-width: 100px;
    z-index: 1;
    background-color: rgb(220, 202, 237);
    padding-top: 10px;
    transition: .5s;
    cursor: pointer;
    overflow-x: hidden;
}
.menu a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: .3s;
}
.menu a:hover {
    color: orangered;
}
.menu .close {
    font-size: 15px;
    text-align: right;
}
span {
    cursor: pointer;
    font-size: 25px;
}